---
import AdvRedirector from "@components/AdvRedirector.astro";
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import BaseHead from "@components/head/BaseHead.astro";
import ImportHead from "@components/head/ImportHead.astro";
import MainHead from "@components/head/MainHead.astro";
import PreloadHead from "@components/head/PreloadHead.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const patches = (await getCollection("tc2Patches")).filter(
    (post) => !post.data.draft,
  );
  return patches.map((post) => ({
    params: {
      patch: post.id,
    },
    props: { post },
  }));
}
const { post } = Astro.props;

const postParts = post.id.split("-");

const postDate = post.data.date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC",
});

let postTitle;
if (postParts.length === 3) {
  postTitle = postDate;
} else {
  postTitle =
    postDate +
    " " +
    postParts
      .slice(3)
      .map((str) => {
        if (/^\d+$/.test(str)) {
          return `#${str}`;
        } else {
          return str.charAt(0).toUpperCase() + str.slice(1);
        }
      })
      .join(" ");
}

const { Content } = await render(post);
---

<Layout>
  <head>
    <BaseHead />
    <PreloadHead />
    <ImportHead />
    <MainHead
      title=`${postTitle} Update | Team Comtress 2`
      site="Team Comtress"
      noSite={true}
      description=`Team Comtress 2 Update - ${postTitle}`
      image="https://teamcomtress.com/img/tc2/team-comtress-2.png"
      favicon="/img/tc2/favicon.ico"
    />
  </head>
  <Body>
    <AdvRedirector />

    <section class="container p-4 bg-dark mb-4">
      <a href="/launcher_feed">
        <span class="fas fa-angles-left fa-fw"></span> Back
      </a>
      <h1>Team Comtress 2 Update - {postTitle}</h1>
      <Content />
    </section>
  </Body>
</Layout>
