---
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import BaseHead from "@components/head/BaseHead.astro";
import ImportHead from "@components/head/ImportHead.astro";
import MainHead from "@components/head/MainHead.astro";
import PreloadHead from "@components/head/PreloadHead.astro";
import HitsNav from "@components/hits/HitsNav.astro";
import Sponsor from "@components/Sponsor.astro";
import Layout from "@layouts/Layout.astro";

import FittyText from "@components/loaders/FittyText.astro";
import HitsLoader from "@components/loaders/HitsLoader.astro";
import "@styles/hits.scss";

const { page, hitsounds, alpha } = Astro.props;

const currentPage = page.currentPage ?? 1;
---

<Layout>
  <head>
    <BaseHead />
    <PreloadHead />
    <ImportHead />
    <MainHead
      title={`${hitsounds ? "hitsounds" : "killsounds"}`}
      site="comfig hits - mastercomfig"
      description="comfig hits is a modern Team Fortress 2 hitsounds and killsounds directory. You can find sounds to play on hit or on last hit here and easily install them to your game after previewing."
    />
  </head>
  <Body>
    <HitsLoader />
    <FittyText className=".card-title" />
    <HitsNav />
    <div class="container g-0">
      <br />
      <Sponsor />
      <br />
      <nav class="nav nav-pills nav-fill">
        <a
          class={`nav-link ${hitsounds ? "active" : ""}`}
          aria-current="page"
          href="/hits/hs/1"
          ><span class="fas fa-bullseye fa-fw"></span> Hitsounds</a
        >
        <a
          class={`nav-link ${hitsounds ? "" : "active"}`}
          aria-current="page"
          href="/hits/ks/1"
          ><span class="fas fa-skull-crossbones fa-fw"></span> Killsounds</a
        >
      </nav>
      <nav class="nav nav-underline">
        <a
          class={`nav-link ${alpha ? "" : "active"}`}
          aria-current="page"
          href={`/hits/${hitsounds ? "hs" : "ks"}/1`}
          ><span class="fas fa-shuffle fa-fw"></span> Daily Shuffle</a
        >
        <a
          class={`nav-link ${alpha ? "active" : ""}`}
          aria-current="page"
          href={`/hits/${hitsounds ? "hs" : "ks"}/alphabetical/1`}
          ><span class="fas fa-arrow-down-a-z fa-fw"></span> Alphabetical</a
        >
      </nav>
      <div class="row">
        {
          page.data.map((s) => (
            <div class="col-12 col-md-6 col-lg-4 mt-4">
              <div class="card text-start full-item">
                <div class="card-body">
                  <div class="title-container w-100">
                    <h3 class="card-title text-center w-100">{s.name}</h3>
                  </div>
                  <div class="row g-1">
                    <div class="col-auto">
                      <a
                        href="#"
                        id={`play-${s.hash}`}
                        class="hs-play btn btn-outline-secondary position-relative h-100 hs-dl"
                      >
                        <span class="fas fa-play fa-fw" />
                      </a>
                    </div>
                    <div class="col">
                      <div class="hs-container loading-bg" data-hash={s.hash} />
                    </div>
                    <div class="col-auto">
                      <a
                        href={`https://hits.comfig.app/${s.hash}.wav`}
                        download={hitsounds ? "hitsound.wav" : "killsound.wav"}
                        class="btn btn-outline-secondary position-relative h-100 hs-dl"
                        target="_blank"
                        rel="noopener"
                      >
                        <span class="fas fa-download fa-fw" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      {
        (page.url.prev || page.url.next) && (
          <div class="mt-4 d-flex justify-content-between">
            <a
              href={`/hits/${hitsounds ? "hs" : "ks"}${alpha ? "/alphabetical" : ""}/1`}
              class={`btn btn-secondary ${
                currentPage === 1 ? "invisible" : ""
              }`}
            >
              <span class="fas fa-angles-left fa-fw" />
            </a>
            <div>
              <a
                href={page.url.prev}
                class={`btn btn-secondary ${!page.url.prev ? "invisible" : ""}`}
              >
                <span class="fas fa-angle-left fa-fw" />
              </a>
              <a
                href={page.url.next}
                class={`btn btn-secondary ${!page.url.next ? "invisible" : ""}`}
              >
                <span class="fas fa-angle-right fa-fw" />
              </a>
            </div>
            <a
              href={`/hits/${hitsounds ? "hs" : "ks"}${alpha ? "/alphabetical" : ""}/${page.lastPage}`}
              class={`btn btn-secondary ${
                currentPage === page.lastPage ? "invisible" : ""
              }`}
            >
              <span class="fas fa-angles-right fa-fw" />
            </a>
          </div>
        )
      }
      <hr />
    </div>
    <Footer>
      <p>
        All user-generated content is owned by their respective owners. The site
        or its owners do not assume responsibility for this content, and the
        presence of such content does not reflect any official position of the
        site or its owners.
      </p>
      <p>
        Users of the site may report offensive content or violations of their
        copyright by email to <a
          href="mailto:support@mastercomfig.com"
          target="_blank"
          rel="noreferrer">support@mastercomfig.com</a
        >
      </p>
      <br />
    </Footer>
    <footer class="container g-0">
      <br />
      <p>
        <a
          href="https://github.com/mastercomfig/comfig-app"
          target="_blank"
          rel="noreferrer"
          ><span class="fab fa-github fa-fw"></span> Source code</a
        >
      </p>
    </footer>
  </Body>
</Layout>
