---
import Layout from "@layouts/Layout.astro";
import BaseHead from "@components/head/BaseHead.astro";
import PreloadHead from "@components/head/PreloadHead.astro";
import ImportHead from "@components/head/ImportHead.astro";
import MainHead from "@components/head/MainHead.astro";
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import HudListItem from "@components/huds/HudListItem.astro";
import HudNav from "@components/huds/HudNav.astro";
import Sponsor from "@components/Sponsor.astro";

import { fetchHuds } from "@ssg/huds";

export async function getStaticPaths({ paginate }) {
  const huds = await fetchHuds(true);
  const hudsSorted = huds.sort((a, b) => a.code.localeCompare(b.code));
  let pages = paginate(hudsSorted, {
    pageSize: 12,
  });
  return pages;
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;
---

<Layout>
  <head>
    <BaseHead />
    <PreloadHead />
    <ImportHead>
      <script>
        import { Carousel } from "bootstrap";

        document.addEventListener("astro:page-load", () => {
          const carouselTriggerList = document.querySelectorAll(".carousel");
          const carouselList = [...carouselTriggerList].map(
            (carouselTriggerEl) =>
              new Carousel(carouselTriggerEl, {
                interval: 350,
                touch: false,
              }),
          );
          for (let i = 0; i < carouselList.length; i++) {
            const carouselEl = carouselTriggerList[i];
            const carousel = carouselList[i];
            carouselEl.parentNode.parentNode.parentNode.addEventListener(
              "mouseenter",
              () => carousel.cycle(),
            );
            carouselEl.parentNode.parentNode.parentNode.addEventListener(
              "mouseleave",
              () => {
                carousel.pause();
                carousel.to(0);
              },
            );
          }
        });
      </script>
      <script>
        import { Tooltip } from "bootstrap";

        document.addEventListener("astro:page-load", () => {
          const tooltipTriggerList = document.querySelectorAll(
            '[data-bs-toggle="tooltip"]',
          );
          const tooltipList = [...tooltipTriggerList].map(
            (tooltipTriggerEl) => new Tooltip(tooltipTriggerEl),
          );
        });
      </script>
    </ImportHead>
    <MainHead
      title="Alphabetical | comfig huds"
      description="comfig huds by mastercomfig is a modern Team Fortress 2 HUD directory. You can find HUDs to customize the look of your menus and in-game UI, and easily install them to your game after finding the one that suits your style and needs."
    />
  </head>
  <Body>
    <HudNav />
    <div class="container g-0">
      <br />
      <Sponsor />
      <br />
      <nav class="nav nav-pills nav-fill">
        <a class="nav-link" aria-current="page" href="/huds/1"
          ><span class="fas fa-clock-rotate-left fa-fw"></span> Updated</a
        >
        <a class="nav-link" aria-current="page" href="/huds/trending/1"
          ><span class="fas fa-fire-flame-curved fa-fw"></span> Trending</a
        >
        <a
          class="nav-link active"
          aria-current="page"
          href="/huds/alphabetical/1"
          ><span class="fas fa-arrow-down-a-z fa-fw"></span> Alphabetical</a
        >
        <a class="nav-link" aria-current="page" href="/huds/featured"
          ><span class="fas fa-trophy fa-fw"></span> Editor's Choice</a
        >
      </nav>
      <div class="row">
        {
          page.data.map((hud) => (
            <div class="col-12 col-md-6 col-lg-4 mt-4">
              <HudListItem hud={hud} expanded={true} carousel={true} />
            </div>
          ))
        }
      </div>
      {
        (page.url.prev || page.url.next) && (
          <div class="mt-4 d-flex justify-content-between">
            <a
              href="/huds/alphabetical/1"
              class={`btn btn-secondary ${
                currentPage === 1 ? "invisible" : ""
              }`}
            >
              <span class="fas fa-angles-left fa-fw" />
            </a>
            <div>
              <a
                href={page.url.prev}
                class={`btn btn-secondary ${!page.url.prev ? "invisible" : ""}`}
              >
                <span class="fas fa-angle-left fa-fw" />
              </a>
              <a
                href={page.url.next}
                class={`btn btn-secondary ${!page.url.next ? "invisible" : ""}`}
              >
                <span class="fas fa-angle-right fa-fw" />
              </a>
            </div>
            <a
              href={`/huds/alphabetical/${page.lastPage}`}
              class={`btn btn-secondary ${
                currentPage === page.lastPage ? "invisible" : ""
              }`}
            >
              <span class="fas fa-angles-right fa-fw" />
            </a>
          </div>
        )
      }
      <hr />
    </div>
    <Footer />
    <footer class="container g-0">
      <br />
      <p>
        <a href="https://github.com/mastercomfig/comfig-app"
          ><span class="fab fa-github fa-fw"></span> Source code</a
        >
      </p>
    </footer>
  </Body>
</Layout>
