---
import Layout from '../../../layouts/Layout.astro';
import BaseHead from '../../../components/head/BaseHead.astro';
import PreloadHead from '../../../components/head/PreloadHead.astro';
import ImportHead from '../../../components/head/ImportHead.astro';
import MainHead from '../../../components/head/MainHead.astro';
import Body from '../../../components/Body.astro';
import Footer from '../../../components/Footer.astro';
import HitsNav from '../../../components/hits/HitsNav.astro';

import { getKillsounds } from '../../../ssg/hits';

export async function getStaticPaths({ paginate }) {
  let pages = paginate(await getKillsounds(), {
    pageSize: 12,
  });
  return pages;
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

import "../../../styles/hits.css";
---
<Layout>
<head>
  <BaseHead />
  <PreloadHead>
    <></>
  </PreloadHead>
  <ImportHead>
    <script>
      import fitty from "fitty";
      fitty(".card-title")
    </script>
    <script>
      import "../../../utils/hits.js";
    </script>
  </ImportHead>
  <MainHead title="killsounds - comfig hits | mastercomfig" description="A modern Team Fortress 2 hitsounds directory.">
    <></>
  </MainHead>
</head>
<Body>
  <HitsNav />
  <div class="container">
    <br>
    <nav class="nav nav-pills nav-fill">
      <a class="nav-link" aria-current="page" href="/hits/hs/1"><span class="fas fa-bullseye fa-fw"></span> Hitsounds</a>
      <a class="nav-link active" aria-current="page" href="/hits/ks/1"><span class="fas fa-skull-crossbones fa-fw"></span> Killsounds</a>
    </nav>
    <div class="row">
      {page.data.map((s) =>
          <div class="col-12 col-md-6 col-lg-4 mt-4">
            <div class="card">
              <div class="card-body">
                <div class="title-container w-100">
                  <h3 class="card-title text-center w-100">{s.name}</h3>
                </div>
                <div class="row g-1">
                  <div class="col-auto">
                    <a href="#" id={`play-${s.hash}`} class="hs-play btn btn-outline-secondary position-relative h-100 hs-dl">
                      <span class="fas fa-play fa-fw"></span>
                    </a>
                  </div>
                  <div class="col">
                    <div class="hs-container loading-bg" data-hash={s.hash}></div>
                  </div>
                  <div class="col-auto">
                    <a href={`https://hits.mastercomfig.com/${s.hash}.wav`} download="killsound.wav" class="btn btn-outline-secondary position-relative h-100 hs-dl">
                      <span class="fas fa-download fa-fw"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        )}
    </div>
    {
      (page.url.prev || page.url.next) && (
        <div class="mt-4 d-flex justify-content-between">
          <a href="/hits/ks/1" class={`btn btn-secondary ${currentPage === 1 ? 'invisible' : ''}`}>
            <span class="fas fa-angles-left fa-fw"></span>
          </a>
          <div>
            <a href={page.url.prev} class={`btn btn-secondary ${!page.url.prev ? 'invisible' : ''}`}>
                <span class="fas fa-angle-left fa-fw"></span>
            </a>
            <a href={page.url.next} class={`btn btn-secondary ${!page.url.next ? 'invisible' : ''}`}>
                <span class="fas fa-angle-right fa-fw"></span>
            </a>
          </div>
          <a href={`/hits/ks/${page.lastPage}`} class={`btn btn-secondary ${currentPage === page.lastPage ? 'invisible' : ''}`}>
            <span class="fas fa-angles-right fa-fw"></span>
          </a>
        </div>
      )
    }
    <hr>
  </div>
  <Footer>
    <p>All user-generated content are copyright to their respective owners. The site or its owners do not assume responsibility for this content, and presence of any such content does not reflect any official position of the site or its owners.</p>
    <p>Users of the site may report offensive content or violations of their copyright by email to support@mastercomfig.com</p>
    <br><br>
  </Footer>
</Body>
</Layout>
