---
import { pwaInfo } from "virtual:pwa-info";

export interface Props {
  title?: string;
  site?: string;
  noSite?: boolean;
  description?: string;
  url?: string;
  image?: string;
  favicon?: string;
}

const {
  title = "mastercomfig",
  site = "mastercomfig",
  noSite = false,
  description = "mastercomfig is a modern Team Fortress 2 performance and customization config.",
  image = "https://comfig.app/img/mastercomfig_banner.png",
  favicon = "",
} = Astro.props as Props;

const canonical = Astro.url.href;
---

{favicon && <link rel="icon" href={favicon} sizes="any" />}
{
  !favicon && (
    <>
      <link rel="icon" href="/favicon.ico" sizes="any" />
      <link rel="icon" href="/img/mastercomfig_logo.svg" type="image/svg+xml" />
      <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/apple-touch-icon.png"
      />
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#009688" />
    </>
  )
}

<title>{noSite ? title : `${title} | ${site}`}</title>
<meta name="theme-color" content="#009688" />
<meta name="msapplication-TileColor" content="#009688" />
<!--<link rel="manifest" href="/manifest.webmanifest" />-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="preload"
  href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript
  ><link
    href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap"
    rel="stylesheet"
  /></noscript
>
<slot />

<meta property="og:site_name" content={site} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta name="twitter:description" content={description} />
<meta name="description" content={description} />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="og:url" content={canonical} />
<meta name="twitter:url" content={canonical} />
<link rel="canonical" href={canonical} />
<meta name="twitter:site" content="@mastercoms" />
<meta name="twitter:creator" content="@mastercoms" />
<meta property="og:image" content={image} />
<meta itemprop="image" content={image} />
<meta name="twitter:image" content={image} />

<script src="/src/pwa.ts"></script>
{pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
