---
export interface Props {
    title?: string;
    description?: string;
    url?: string;
}

const { title = "mastercomfig", description = "A modern Team Fortress 2 performance and customization config.", url = "https://mastercomfig.com" } = Astro.props as Props;
---
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/img/mastercomfig_logo.svg" type="image/svg+xml">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#009688">

<title>{title}</title>
<meta name="theme-color" content="#009688">
<meta name="msapplication-TileColor" content="#009688">
<link rel="manifest" href="/manifest.webmanifest">
<slot />

<meta property="og:site_name" content="mastercomfig">
<meta property="og:title" content="mastercomfig">
<meta property="og:description" content={description}>
<meta name="twitter:description" content={description}>
<meta name="description" content={description}>
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta property="og:url" content={url}>
<meta name="twitter:url" content={url}>
<link rel="canonical" href={url}>
<meta name="twitter:site" content="@mastercoms">
<meta name="twitter:creator" content="@mastercoms">
<meta property="og:image" content="https://mastercomfig.com/img/mastercomfig_banner.png">
<meta itemprop="image" content="https://mastercomfig.com/img/mastercomfig_banner.png">
<meta name="twitter:image" content="https://mastercomfig.com/img/mastercomfig_banner.png">
