---
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import BaseHead from "@components/head/BaseHead.astro";
import ImportHead from "@components/head/ImportHead.astro";
import MainHead from "@components/head/MainHead.astro";
import PreloadHead from "@components/head/PreloadHead.astro";
import NavSelector from "@components/NavSelector.astro";
import ServerFinder from "@components/quickplay/ServerFinder.tsx";
import CustomizeButton from "@components/quickplay/CustomizeButton.tsx";
import Layout from "@layouts/Layout.astro";
import randomImg from "@img/gamemodes/random.png";
import { getQuickplayData } from "@ssg/quickplayData";

const gamemodes = [
  {
    name: "Start Playing",
    code: "pvp",
    description: "We'll match you into the best game we can find.",
    skill: undefined,
    img: randomImg,
  },
];

const { hash } = await getQuickplayData();
---

<Layout>
  <head>
    <BaseHead />
    <PreloadHead />
    <ImportHead>
      <style>
        .quickplay-section {
          max-width: 100vw;
        }
        @media (min-width: 576px) {
          .carousel {
            height: min(max(calc(95vh * 3 / 4), 33.75rem), calc(100vw * 3 / 4));
          }
          .quickplay-container {
            min-width: min(85vh, 100vw);
          }
          .quickplay-section {
            width: max(95vh, 60rem);
          }
        }
        @media (min-width: 992px) {
          #gm-desc {
            margin-top: -3rem;
          }
        }
        .carousel-item {
          transition: none !important;
        }
        .carousel .carousel-control-prev-icon.carousel-dark-buttons,
        .carousel .carousel-control-next-icon.carousel-dark-buttons {
          filter: invert(1) grayscale(100) !important;
        }
      </style>
      <script>
        import { Carousel } from "bootstrap";

        import useQuickplayStore from "@store/quickplay";

        document.addEventListener("astro:page-load", () => {
          const urlparms = new URLSearchParams(window.location.search);
          const carouselEl = document.getElementById("quickplayGamemodes");
          let carousel: Carousel | null = null;
          function refreshCarousel(start: boolean = false) {
            if (carouselEl) {
              carousel = new Carousel(carouselEl, {
                pause: false,
              });
              carouselEl.addEventListener("slide.bs.carousel", (event) => {
                const code = useQuickplayStore.getState().codeLookup[event.to];
                useQuickplayStore.getState().setGamemode(code);
              });
              if (start) {
                const gm = urlparms.get("gm");
                if (gm) {
                  let gamemodes: string[] = [];
                  if (gm === "any") {
                    gamemodes = [
                      "payload",
                      "koth",
                      "attack_defense",
                      "ctf",
                      "capture_point",
                      "payload_race",
                    ];
                  } else {
                    gamemodes = gm.split(",");
                  }
                  useQuickplayStore.getState().setGamemodes(gamemodes);
                }
                carousel.to(
                  useQuickplayStore
                    .getState()
                    .codeLookup.indexOf(useQuickplayStore.getState().gamemode),
                );
              }
            }
          }
          refreshCarousel(true);
          const playNow = document.getElementById(
            "quickplay-now",
          ) as HTMLButtonElement;
          const quickpickBtn = document.getElementById(
            "quickpick-btn",
          ) as HTMLButtonElement;
          if (carouselEl) {
            carouselEl.addEventListener("finished-searching", (event) => {
              refreshCarousel();
              if (playNow) {
                if (event.imFeelingLucky) {
                  playNow.innerText = "TRY AGAIN";
                } else {
                  playNow.innerText = "PLAY NOW!";
                }
                playNow.disabled = false;
                quickpickBtn.disabled = false;
              }
            });
          }
          function startSearching(variant) {
            if (useQuickplayStore.getState().searching) {
              return;
            }
            playNow.disabled = true;
            quickpickBtn.disabled = true;
            useQuickplayStore.getState().setSearching(variant);
            useQuickplayStore.getState().setFound(0);
            if (carousel) {
              carousel.dispose();
              carousel = null;
            }
          }
          if (playNow) {
            playNow.addEventListener("click", () => {
              startSearching(1);
            });
          }
          if (urlparms.get("autostart") === "2") {
            useQuickplayStore.getState().toggleCustomizing().click();
          }
          if (quickpickBtn) {
            quickpickBtn.addEventListener("click", () => {
              startSearching(2);
            });
          }
          if (urlparms.get("autostart") === "1") {
            startSearching(1);
          }
          if (urlparms.get("autostart") === "3") {
            startSearching(2);
          }
        });
      </script>
    </ImportHead>
    <MainHead
      title="comfig quickplay"
      description="Quickplay is BACK! Find the best community matches quickly and easily with comfig quickplay, a reimplementation of the old TF2 quickplay system, right in your browser."
    />
  </head>
  <Body>
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-teal">
      <div class="container g-0">
        <span class="navbar-brand">
          <img
            src="/img/mastercomfig_logo_transparent_i.svg"
            alt=""
            class="d-inline-block align-text-top"
            width="24"
            height="24"
          />
          <span class="d-none d-md-inline"> comfig</span>
        </span>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <NavSelector pageName="quickplay" />
        <div class="collapse navbar-collapse"></div>
      </div>
    </nav>
    <section class="container-lg quickplay-container pt-2 pb-4 bg-dark">
      <div
        class="d-flex align-items-center justify-content-center"
        style="height: 100%"
      >
        <div class="align-middle text-center">
          <div
            id="quickplayGamemodes"
            class="carousel quickplay-section carousel-light slide carousel-fade p-4"
            style="background: #ece9d7"
          >
            <ServerFinder client:load hash={hash.substring(0, 8)} />
            <div
              id="quickplayCarouselIndicators"
              class="carousel-indicators carousel-hidable d-none"
            >
              {
                gamemodes.map((resource, index) => (
                  <button
                    type="button"
                    data-bs-target="#hudScreenshots"
                    data-bs-slide-to={index}
                    class={`${index == 0 ? "active" : ""}`}
                    aria-current="true"
                    aria-label={`Slide ${index + 1} ${resource}`}
                  />
                ))
              }
            </div>
            <div id="quickplayCarouselInner" class="carousel-inner h-100">
              {
                gamemodes.map((resource, index) => (
                  <div
                    class={`carousel-item h-100 d-flex flex-column ${index == 0 ? "active" : ""}`}
                  >
                    <div
                      class="flex-grow-1"
                      style={`background-image: url('${resource.img.src}'); background-position: center; background-size: contain;background-repeat: no-repeat;aspect-ratio: 4 / 3`}
                    >
                      <h2
                        class="display-2"
                        style="color: #4b3c2d; font-weight: 700; letter-spacing: 0.2rem; text-shadow: #4b3c2d 0 0 1px"
                      >
                        {resource.name}
                      </h2>
                    </div>
                    <div style="color: #2b2f32">
                      <p
                        id="gm-desc"
                        class="lead mb-0"
                        style="font-size: 2.5rem"
                      >
                        <strong>{resource.description}</strong>
                      </p>
                      <div
                        class="text-danger-emphasis"
                        style="font-size: 1.2rem"
                      >
                        {resource.skill === 0 && (
                          <p class="m-0">Recommended For All Skill Levels</p>
                        )}
                        {resource.skill === 1 && (
                          <p class="m-0">Recommended For Advanced Players</p>
                        )}
                        {resource.skill === 2 && (
                          <p class="m-0">Recommended For Expert Players</p>
                        )}
                      </div>
                    </div>
                  </div>
                ))
              }
            </div>
            {
              gamemodes.length > 1 && (
                <>
                  <button
                    class="carousel-control-prev carousel-hidable"
                    type="button"
                    data-bs-target="#quickplayGamemodes"
                    data-bs-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon carousel-dark-buttons"
                      aria-hidden="true"
                    />
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button
                    class="carousel-control-next carousel-hidable"
                    type="button"
                    data-bs-target="#quickplayGamemodes"
                    data-bs-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon carousel-dark-buttons"
                      aria-hidden="true"
                    />
                    <span class="visually-hidden">Next</span>
                  </button>
                </>
              )
            }
          </div>
          <div class="row g-0">
            <div class="col">
              <button
                id="quickplay-now"
                class="btn btn-success w-100"
                style="font-size: 2.5rem; font-weight: 800;box-shadow: 0 -5px 5px 2px inset #0d5e1b"
                >PLAY NOW!</button
              >
            </div>
            <div class="col-auto">
              <button
                id="quickpick-btn"
                class="btn btn-info w-100"
                style="font-size: 2.5rem; font-weight: 600;box-shadow: 0 -5px 5px 2px inset #5e0d4c"
                ><span class="fas fa-list fa-fw m-1"></span></button
              >
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="container px-0 quickplay-section">
        <CustomizeButton client:load />
      </div>
    </section>
    <section class="container bg-secondary-subtle mt-5 mb-4 px-5 pt-5 pb-2">
      <h1 class="display-3 text-center fw-bold">Questions and Answers</h1>
      <p class="lead">
        Hi, thanks for trying out quickplay! You may have a few questions about
        it, which should be answered down below. Thanks, and have fun!<br /><br
        />And if you're a community server host, check out our <a
          href="/quickplay/host_faq">Server Hoster guide</a
        > for more information about quickplay requirements and how we can work together
        to make a great experience for players.
      </p>

      <h2 class="display-6 fw-bold">What is this?</h2>
      <p class="lead">
        This is a best attempt at recreating the old in-game Quickplay feature
        as accurately as possible, and updating it to work in the current times
        and in browser.
      </p>

      <h2 class="display-6 fw-bold">How do I report a problem?</h2>
      <p class="lead">
        Join us <a href="https://discord.gg/comfig">on Discord</a> and report your
        issues to the <span class="text-bg-primary p-1 mx-1"
          >#tf2-quickplay</span
        > channel, or use the emails listed out in the other answers below. We welcome
        feedback from both players and server owners!
      </p>

      <h2 class="display-6 fw-bold">How can I follow updates?</h2>
      <p class="lead">
        You can see updates <a href="https://discord.gg/comfig">on Discord</a>,
        or on our <a href="/quickplay/updates">update log</a>.
      </p>

      <h2 class="display-6 fw-bold">How do I share this around?</h2>
      <p class="lead">
        We really appreciate the enthuasiasm! The more people use quickplay, the
        better it'll be! You can share our easy to remember <strong
          style="font-weight: 700"
          class="text-primary">quickplay.tf</strong
        > link, and even include it in your Steam name!
      </p>

      <h2 class="display-6 fw-bold">How does this work?</h2>
      <p class="lead">
        Servers which are selected for the quickplay pool are then searched
        through according to your preferences. You get matched into the server
        with the best score. Servers are scored according to player counts and
        estimated ping/region to be ideal for the player searching, as well as a
        reputation bonus.
      </p>

      <h2 class="display-6 fw-bold">
        Why did I get matched into an empty server?
      </h2>
      <p class="lead">
        When you get matched into an empty server, it usually means there's no
        good options available for your region. If you want to get into a
        populated match as soon as possible, try adjusting your filters or your
        game mode selection.
        <br />
        <br />
        However, if you are patient, other quickplay players from your region will
        most likely also get matched into your server, and this will start a healthy
        chain reaction to sustain the server for a long time. Ideally, this takes
        around a minute or two if there are people searching in your region, but
        may take longer otherwise.
        <br />
        <br />
        At certain times, you may want to turn off "Strict regional matchmaking"
        so you can queue into other regions with players, if you're queuing at a
        time where your own region doesn't typically have players.
        <br />
        <br />
        Another tip: certain game modes may tend to be mostly instant respawn, so
        try expanding your filters that way.
        <br />
        <br />
        This isn't all to say we don't want to improve things! Please give us feedback
        if you've encountered an empty server at <a
          href="mailto:quickplaymatches@mastercomfig.com"
          >quickplaymatches@mastercomfig.com</a
        >. Let us know your general region, your search settings, and the time
        you searched for a game.
      </p>

      <h2 class="display-6 fw-bold">
        Why did I get matched into a full server?
      </h2>
      <p class="lead">
        Though we do track when servers get too full, it isn't perfect. You're
        basically competing with other players to join a server, and some
        servers which are getting a lot of traffic directed to it can have their
        player numbers spike up suddenly, and fill up the server. We want to
        always avoid these cases. Please give us feedback if you've encountered
        joining a full server at <a
          href="mailto:quickplaymatches@mastercomfig.com"
          >quickplaymatches@mastercomfig.com</a
        >.
      </p>

      <h2 class="display-6 fw-bold">
        Why did I get matched into a server with high ping?
      </h2>
      <p class="lead">
        This could be for several reasons. One is a similar reason to above,
        where quickplay is trying to get you into a server with players, and
        servers in your region don't have them. However, it could also be a bug
        with how we calculate ping. So let us know at <a
          href="mailto:quickplayping@mastercomfig.com"
          >quickplayping@mastercomfig.com</a
        >. Give your general region, your search settings, the time you search
        for a game, and the server IP that you ended up on.
      </p>

      <h2 class="display-6 fw-bold">Does quickplay do well in X region?</h2>
      <p class="lead">
        Probably! There's a strong server offering in Europe, the Americas,
        Asia, and Oceania. Regions which don't have much or any servers
        available are Africa, India and the Middle East. Player counts in every
        region can vary depending on the time and day, of course, but there
        should be enough people in each populated region to use quickplay
        effectively.
      </p>

      <h2 class="display-6 fw-bold">
        What's the point of this over other solutions?
      </h2>
      <p class="lead">
        Many people have been asking for a solution which behaves like the old
        quickplay. This is an exact replica of that system, adjusted to be more
        ideal for the current era of TF2. Other solutions like the server
        browser just aren't an easy, one click and curated solution for having
        the best chance of finding a casual-like server to play on.
      </p>

      <h2 class="display-6 fw-bold">What servers are eligible?</h2>
      <p class="lead">
        We take the entire public server list into account, and filter it based
        upon our requirements. Servers must generally follow default TF2
        gameplay rules (excluding a few preference-based exceptions), without
        adverse modifications which players looking for an unmodified casual
        experience do not want. These server modifications are not allowed for
        servers in quickplay. You can learn more about detailed requirements in
        the <a href="/quickplay/host_faq">server hoster guide</a>.
      </p>

      <h2 class="display-6 fw-bold">Can I suggest a workshop map?</h2>
      <p class="lead">
        Sure! You can suggest a map you're a fan of, or one you've created by
        sending an email to <a href="mailto:quickplaymaps@mastercomfig.com"
          >quickplaymaps@mastercomfig.com</a
        >. Tell us the map name, a little bit about the map, and a workshop link
        where we can learn more. We'll consider any map that are in line with
        the casual map pool, that can contribute to player enjoyment in
        quickplay.
      </p>

      <h2 class="display-6 fw-bold">
        I found a server which breaks the rules on Quickplay.
      </h2>
      <p class="lead">
        Give us the server IP, name and evidence at <a
          href="mailto:quickplayreports@mastercomfig.com"
          >quickplayreports@mastercomfig.com</a
        >.
      </p>

      <h2 class="display-6 fw-bold">What is reputation?</h2>
      <p class="lead">
        Reputation is a matchmaking metric given to servers if players are shown
        to enjoy them. This was used in the old quickplay algorithm to help weed
        out bad servers which didn't give players a good experience. It is a
        small part of the overall scoring system used to match servers with
        players. It is currently not implemented.
      </p>

      <h2 class="display-6 fw-bold">How do I support you and this project?</h2>
      <p class="lead">
        Thanks for the offer! This project takes a lot of time, effort and
        money. It'd be much appreciated if you checked out <a
          href="https://docs.comfig.app/page/support_me/"
          >the ways to support me</a
        >, but feedback and thanks also helps a lot too :).
      </p>
    </section>
    <Footer />
    <footer class="container g-0">
      <br />
      <p>
        <a href="https://github.com/mastercomfig/comfig-app"
          ><span class="fab fa-github fa-fw"></span> App source code</a
        >
      </p>
      <p>
        <a href="https://github.com/mastercomfig/comfig-api"
          ><span class="fab fa-github fa-fw"></span> API source code</a
        >
      </p>
      <p>
        <a href="https://github.com/mastercomfig/tf2-server-stats"
          ><span class="fab fa-github fa-fw"></span> Server list source code</a
        >
      </p>
    </footer>
  </Body>
</Layout>
