<script>
  import tf2cc from "@img/third_party/tf2cc.webp";

  function generateCoolString(str) {
    const count = Math.floor(Math.random() * 10);
    for (let i = 0; i < count; i++) {
      const index = Math.floor(Math.random() * str.length);
      str = str.substring(0, index) + "​" + str.substring(index);
    }
    return str;
  }

  function dec2hex(dec) {
    return dec.toString(16).padStart(2, "0");
  }

  function isLetter(c) {
    return c.toLowerCase() != c.toUpperCase();
  }

  function generateId(len) {
    var arr = new Uint8Array(len / 2);
    window.crypto.getRandomValues(arr);
    let id = Array.from(arr, dec2hex).join("");
    if (!isLetter(id.charAt(0))) {
      const randomLetter = String.fromCharCode(
        97 + Math.floor(Math.random() * 26),
      );
      id = randomLetter + id.substring(1);
    }
    return id;
  }

  const r = generateId(8);
  const sponsors = [
    {
      name: "TF2 Coaching Central",
      logo: tf2cc.src,
      logo_alt: "TF2CC logo",
      url: "https://discord.gg/tf2-coaching-central-tf2cc-727627956058325052",
      title: "Coach or get coached for competitive TF2!",
      description:
        "TF2CC is a resource hub for new comp players.\n" +
        "Provides guides, mentoring, demo reviews, pugs, and the upcoming Newcomer's Cup!\n",
      cta: "Whether you're experienced or a new player, join the Discord and get involved!",
      background:
        "linear-gradient(135deg, rgba(33,37,41, 0.01), rgba(33,37,41, 1) 60%),radial-gradient(ellipse at top left, rgba(255,255,255, 0.5), transparent 50%),radial-gradient(ellipse at top right, rgb(255 174 132 / 50%), transparent 50%),radial-gradient(ellipse at center right, rgb(249 44 78 / 50%), transparent 50%),radial-gradient(ellipse at center left, rgb(253 13 13 / 50%), transparent 50%)",
    },
  ];
  const sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
  const name = generateCoolString(sponsor.name);
  const background = sponsor.background;
  const logo = sponsor.logo;
  const logo_alt = generateCoolString(sponsor.logo_alt);
  const title = generateCoolString(sponsor.title);
  const description = sponsor.description
    .split("\n")
    .map((d) => generateCoolString(d))
    .join("<br/>");
  const cta = generateCoolString(sponsor.cta);
  const url = sponsor.url;

  const linkElement = document.querySelector(
    "a[href='https://comfig.app/?aff=comfig']",
  );

  const card = linkElement.closest(".card");
  card.classList.add(r);
  const stylesheet = new CSSStyleSheet();
  stylesheet.replaceSync(`
    .${r} {
      text-align: left !important;
      background: ${background};
    }
    .${r} a {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: "";
    }
  `);
  document.adoptedStyleSheets = [...document.adoptedStyleSheets, stylesheet];

  const img = card.querySelector("img");
  img.src = logo;
  img.alt = logo_alt;

  const footer = card.querySelector(".card-footer");
  const sponsoredBy = generateCoolString("Partnered with");
  footer.innerHTML = `${sponsoredBy} <strong>${name}</strong>`;

  const row = card.querySelector(".row");
  const col2 = row.querySelector(".col-auto:nth-child(2)");
  col2.classList.remove("text-muted");
  col2.classList.add("text-white");
  col2.innerHTML = `<strong class="fw-bold h5">${title}</strong><br/>${description}<strong>${cta}</strong>`;

  linkElement.removeAttribute("href");
  linkElement.addEventListener("click", function (e) {
    e.preventDefault();
    window.open(url, "_blank");
  });
</script>
<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-auto">
        <img
          style="height:8rem;width:8rem;aspect-ratio:1/1"
          width="128"
          height="128"
          src="/img/third_party/solid_gray.svg"
          alt="logo"
        />
        <span class="d-block d-md-none"> </span>
      </div>
      <div class="col-auto text-muted">
        <strong class="fw-bold h5">█████████</strong><br />
         █████████████████████████████<br />
         ████████████████████████<br />
        <strong>███████████████████████████████████</strong>
      </div>
      <a href="https://comfig.app/?aff=comfig"></a>
    </div>
  </div>
  <div class="card-footer text-body-secondary">
    Partnered with <strong></strong>
  </div>
</div>
