---
import AdvRedirector from "@components/AdvRedirector.astro";
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import BaseHead from "@components/head/BaseHead.astro";
import ImportHead from "@components/head/ImportHead.astro";
import MainHead from "@components/head/MainHead.astro";
import PreloadHead from "@components/head/PreloadHead.astro";
import tfLogoImg from "@img/tc2/team-comtress-2.png";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const news = (await getCollection("tc2News"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter((post) => !post.data.draft);

const patches = (await getCollection("tc2Patches"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter((post) => !post.data.draft);
---

<Layout>
  <head>
    <BaseHead />
    <PreloadHead />
    <ImportHead />
    <MainHead
      title=`News Feed | Team Comtress 2`
      site="Team Comtress"
      noSite={true}
      description="Latest news and updates for Team Comtress 2"
      image="https://teamcomtress.com/img/tc2/team-comtress-2.png"
      favicon="/img/tc2/favicon.ico"
    />
  </head>
  <Body>
    <AdvRedirector />
    <div class="text-center p-4">
      <a href="/">
        <img
          class="img-logo-sm"
          src={tfLogoImg.src}
          alt="Team Comtress 2 logo"
        />
      </a>
    </div>

    <section class="container p-4 bg-dark mb-4">
      <h1 id="news">All News</h1>
      <div class="row g-4 mt-1">
        {
          news.map((post) => (
            <div class="card m-3 col-4">
              <div class="card-body">
                <h5 class="card-title" style="color: #fff;font-weight: 600">
                  {post.data.title}
                </h5>
                <p class="card-text" style="color: #c2c2c2">
                  {post.data.description}
                  <br />
                  <small class="text-muted">
                    <a
                      href={
                        post.data.update
                          ? `/updates/${post.data.update}`
                          : `/news/${post.id}`
                      }
                    >
                      Read more »
                    </a>
                  </small>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  {post.data.date.toLocaleDateString()}
                </small>
              </div>
            </div>
          ))
        }
      </div>
      <hr />
      <h1 id="patches">All Patches</h1>
      <div class="row g-4 mt-1">
        {
          patches.map((post) => (
            <div class="card m-3 col-3">
              <div class="card-body p-4">
                <h5 class="card-title m-0">
                  <a href={`/patches/${post.id}`}>{post.id}</a>
                </h5>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <Footer product={"Team Comtress"} />
  </Body>
</Layout>
