---
const { hud, expanded = false, carousel = false } = Astro.props;
---

<style>
  .card-img-top {
    aspect-ratio: 16 / 9;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #151515;
  }

  .btn-outline-secondary {
    --bs-btn-padding-y: 0;

    color: #b2dfdb;
    box-shadow: none;
    border: none;
    z-index: 2;
  }

  .btn-outline-secondary:hover {
    color: var(--bs-btn-hover-color);
  }
</style>

<div class="card text-start">
  {
    (carousel && hud.resources.length > 1 && (
      <div class="card-img-top">
        <div class="carousel slide carousel-fade h-100">
          <div class="carousel-inner h-100">
            {hud.resourceUrls.map((resource, index) => (
              <div
                class={`carousel-item h-100 ratio ratio-16x9 ${
                  index == 0 ? "active" : ""
                }`}
                data-bs-interval={index == 0 ? "400" : ""}
              >
                <img
                  src={resource}
                  class="object-fit-contain"
                  loading="lazy"
                  alt={`${hud.resources[index]}`}
                />
              </div>
            ))}
          </div>
        </div>
      </div>
    )) || (
      <div
        class="card-img-top"
        style={`background-image: url('${hud.bannerUrl}')`}
      />
    )
  }
  <div class="card-body">
    <h5 class="card-title">
      {hud.name}
      {
        hud.outdated && (
          <small
            class="d-inline-block position-relative text-danger"
            style="z-index: 2"
            data-bs-toggle="tooltip"
            data-bs-title="Incompatible"
          >
            &nbsp;
            <span class="fas fa-circle-exclamation fa-fw" />
          </small>
        )
      }
      {
        hud.prerelease && (
          <small
            class="d-inline-block position-relative text-warning"
            style="z-index: 2"
            data-bs-toggle="tooltip"
            data-bs-title="Preview release"
          >
            &nbsp;
            <span class="fas fa-flask fa-fw" />
          </small>
        )
      }
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{hud.author}</h6>
    <a
      href={`/huds/page/${hud.id}/`}
      class="card-link stretched-link d-inline-block py-2 my-1">View HUD</a
    >
    {
      expanded && (
        <>
          <a
            href={hud.downloadUrl ?? hud.repo}
            class={`btn btn-outline-secondary ms-3 py-2 my-1 position-relative ${
              hud.outdated ? "d-none" : ""
            }`}
            target={hud.downloadUrl ? undefined : "_blank"}
            rel={hud.downloadUrl ? undefined : "noopener noreferrer"}
          >
            <span
              class={`fas fa-${
                hud.downloadUrl ? "download" : "up-right-from-square"
              } fa-fw`}
            />
          </a>
          <br />
          <span class="text-muted">
            Last updated{" "}
            <strong>
              {hud.publishDate.toLocaleDateString("en-us", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </strong>
          </span>
        </>
      )
    }
  </div>
</div>
