---
import Layout from '../../layouts/Layout.astro';
import BaseHead from '../../components/head/BaseHead.astro';
import PreloadHead from '../../components/head/PreloadHead.astro';
import ImportHead from '../../components/head/ImportHead.astro';
import MainHead from '../../components/head/MainHead.astro';
import Body from '../../components/Body.astro';
import Footer from '../../components/Footer.astro';
import HudListItem from '../../components/huds/HudListItem.astro';

import { fetchHuds } from '../../ssg/huds';

export async function getStaticPaths({ paginate }) {
  let pages = paginate(await fetchHuds(), {
    pageSize: 9,
  });
  return pages;
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;
---
<Layout>
<head>
  <BaseHead />
  <PreloadHead>
    <></>
  </PreloadHead>
  <ImportHead>
    <script>
      import { Carousel } from "bootstrap";

      const carouselTriggerList = document.querySelectorAll('.carousel');
      const carouselList = [...carouselTriggerList].map(carouselTriggerEl => new Carousel(carouselTriggerEl, {
        interval: 350,
        touch: false,
      }));
      for (let i = 0; i < carouselList.length; i++) {
        const carouselEl = carouselTriggerList[i];
        const carousel = carouselList[i];
        carouselEl.parentNode.parentNode.parentNode.addEventListener("mouseenter", () => carousel.cycle());
        carouselEl.parentNode.parentNode.parentNode.addEventListener("mouseleave", () => {
          carousel.pause();
          carousel.to(0);
        });
      }
    </script>
    <script>
      import { Tooltip } from "bootstrap";

      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new Tooltip(tooltipTriggerEl));
    </script>
  </ImportHead>
  <MainHead title="comfig huds | mastercomfig" description="A modern Team Fortress 2 HUD directory.">
    <></>
  </MainHead>
</head>
<Body>
  <div class="container">
    <div class="row">
      {page.data.map((hud) =>
          <div class="col-12 col-md-2 col-lg-4 mt-5">
            <HudListItem hud={hud} expanded={true} carousel={true}></HudListItem>
          </div>
        )}
    </div>
    {
      (page.url.prev || page.url.next) && (
        <div class="mt-2">
          <div class="mx-auto" style="max-width: fit-content">
            <a href={page.url.prev} class={`btn btn-secondary ${!page.url.prev ? 'invisible' : ''}`}>
                <span class="fas fa-arrow-left fa-fw"></span>
            </a>
            <a href={page.url.next} class={`btn btn-secondary ${!page.url.next ? 'invisible' : ''}`}>
                <span class="fas fa-arrow-right fa-fw"></span>
            </a>
          </div>
        </div>
      )
    }
    <hr>
  </div>
  <Footer>
    <></>
  </Footer>
</Body>
</Layout>
