---
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import BaseHead from "@components/head/BaseHead.astro";
import ImportHead from "@components/head/ImportHead.astro";
import MainHead from "@components/head/MainHead.astro";
import PreloadHead from "@components/head/PreloadHead.astro";
import Sponsor from "@components/Sponsor.astro";
import Layout from "@layouts/Layout.astro";
import { getHudEditData, sharedDataName } from "@ssg/hudEditData";
import { Form } from "react-bootstrap";
import { RgbaColorPicker } from "react-colorful";

const hudEditData = await getHudEditData();

console.log(hudEditData);

const shared = hudEditData[sharedDataName];
console.log(shared);
const sharedControls = shared.Controls;
---

<Layout>
  <head>
    <BaseHead />
    <PreloadHead />
    <ImportHead />
    <MainHead
      title="comfig huds"
      description="comfig huds by mastercomfig is a modern Team Fortress 2 HUD directory. You can find HUDs to customize the look of your menus and in-game UI, and easily install them to your game after finding the one that suits your style and needs."
    />
  </head>
  <Body>
    <div class="container g-0">
      <br />
      <Sponsor />
      <h1 class="display-2">comfig huds customizer</h1>
      {
        Object.entries(hudEditData).map(([hud, data]) => {
          return (
            <div>
              <h2 class="mt-3">{hud}</h2>
              {Object.entries(data.Controls).map(([controlName, options]) => {
                return (
                  <div>
                    <h3 class="fw-semibold mt-3">{controlName}</h3>
                    {options.map((option) => {
                      let {
                        Name,
                        Label,
                        Type,
                        Special,
                        ToolTip,
                        Restart,
                        Value,
                        ...rest
                      } = option;

                      let Component = <div />;
                      if (Type === "IntegerUpDown") {
                        let { Minimum, Maximum, Increment, ...rest2 } = rest;
                        rest = rest2;
                        Component = (
                          <Form.Group className="mb-3">
                            <Form.Control
                              type="number"
                              defaultValue={Value}
                              min={Minimum}
                              max={Maximum}
                              step={Increment}
                            />
                          </Form.Group>
                        );
                      } else if (Type === "ColorPicker") {
                        const [r, g, b, a] = Value.split(" ");
                        Component = (
                          <RgbaColorPicker
                            color={{ r, g, b, a: a / 255.0 }}
                            onChange={() => {}}
                            client:load
                          />
                        );
                      } else if (Type === "ComboBox") {
                        let { Options } = rest;
                        // TODO: RenameFile
                        Component = (
                          <Form.Select defaultValue={Value}>
                            {Options.map((o) => {
                              return <option value={o.Value}>{o.Label}</option>;
                            })}
                          </Form.Select>
                        );
                      } else if (Type.toLowerCase() === "checkbox") {
                        Component = (
                          <Form.Check type="switch" defaultValue={Value} />
                        );
                      } else if (Type === "TextBox") {
                        Component = (
                          <Form.Control type="text" defaultValue={Value} />
                        );
                      } else if (Type === "Crosshair") {
                      } else if (Type === "CustomBackground") {
                      } else {
                        console.log(Type);
                      }

                      const width = rest["Width"]
                        ? `${rest["Width"]}px`
                        : undefined;

                      if (Special) {
                        console.log("Special", Special);
                      }

                      return (
                        <div style={{ width }}>
                          <h5 class="mt-3">
                            {Label}
                            {Restart && <span class="text-danger">*</span>}
                          </h5>
                          <p>
                            <!--{Type ?? "No Type"} | {Special ?? "No Special"} |{" "}-->
                            {ToolTip}
                            <!--{Value === undefined
                              ? "No Value"
                              : JSON.stringify(Value)}-->
                          </p>
                          {Component}
                          <!--<pre>{JSON.stringify(rest, undefined, 2)}</pre>-->
                        </div>
                      );
                    })}
                  </div>
                );
              })}
            </div>
          );
        })
      }
      <Footer />
      <footer class="container g-0">
        <br />
        <p>
          <a href="https://github.com/mastercomfig/comfig-app" rel="noopener"
            ><span class="fab fa-github fa-fw"></span> Source code</a
          >
        </p>
      </footer>
    </div>
  </Body>
</Layout>
